.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-item {
    flex: 1 1 calc(33% - 20px); /* Ajusta el tamaño de los elementos según necesites */
    margin: 10px;
    box-sizing: border-box;
    max-width: 300px;
  }
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-item {
    flex: 1 1 calc(33% - 20px); /* Ajusta el tamaño de los elementos según necesites */
    margin: 10px;
    box-sizing: border-box;
    max-width: 300px;
  }